VITE_WALLETCONNECT_PROJECT_ID=
VITE_STREAMWAGE_VAULT_ADDRESS=
VITE_SELF_VERIFIED_ADDRESS=
CUSD_ADDRESS=0xdE9e4C3ce781b4bA68120d6261cbad65ce0aB00b
CELO_SEPOLIA_RPC=https://forno.celo-sepolia.celo-testnet.org

